.project_1, .project_2, .project_3 {
  display: flex;
  width: 100%;
  height: 350px;
  margin-top: 25px;
}

.project1_sc, .project2_sc, .project3_sc {
  width: 33.3%;
  border: 1px solid white;
}

.project1_desc, .project2_desc, .project3_desc {
  width: 33.3%;
  border: 1px solid white;
  height: 300px;
  font-size: calc(15px + .1em);
  line-height: 1.5em;
  display: flex;
  padding: 0px 5px 0px 5px;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
}

#project_stack {
  font-weight: 550;
  font-size: 18px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#live_link {
  display: inline-flex;
  padding-bottom: 0px;
  text-align: center;
  align-self: center;
}

.github_link {
  padding-left: 10px;
}

a:link {
  color: white;
}

a:visited {
  color: rgb(149, 213, 255);
}


h3 {
  margin-block-start: 0em;
    margin-block-end: 0em;
}

#project_header{
  letter-spacing: .08em;
  font-weight: 800;
  align-self: center;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .project_1, .project_2, .project_3 {
      display: flex;
      flex-direction: column;
      height: 50%;
      width:  100%;
      align-items: center;
    }

    #project_header {
      margin-bottom: 5px;
    }

    .project1_sc, .project2_sc, .project3_sc {
      width: 70%;
      height: 10%;
      order: 2;
      border: none;
    }
    .project1_desc, .project2_desc, .project3_desc {
      width: 70%;
      height: 10%;
      order: 1;
      border: none;
    }
  }
  @media only screen 
  and (min-device-width: 669px) 
  and (max-device-width: 1144px) {
    #project_stack {
      font-size: 15px;
    }
    #project_header {
      font-size: 20px;
    }

    .project1_desc, .project2_desc, .project3_desc {
      font-size: 13px;
    }
    .project_1, .project_2, .project_3 {
      display: flex;
      width: 100%;
      height: 300px;
      margin-top: 25px;
    }
  }

  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1326px) {
    .project_1, .project_2, .project_3 {
      
      margin: 80px 0px 50px 0px;
    }
  }

  /* iphone 5 */
  @media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
{
  .project_1, .project_2, .project_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .project1_sc, .project2_sc, .project3_sc {
    width: 70%;
    height: 10%;
    order: 2
  }
  .project1_desc, .project2_desc, .project3_desc {
    width: 70%;
    height: 10%;
    order: 1;
    font-size: 15px;
  }
  #project_stack {
    font-size: 15px;
  }

  #project_header {
    margin-bottom: 5px;
  }

}

